<nav>
    <div class="header">
        <div class="logo">
          <div class="icon"></div>
    <a href="/">Home</a>
    </div>
    <div class="nav-links">
    <% if(user) { %>
        <a href="/users">Our Community</a>
        <a href="/users/<%=user._id%>/blogs">my Blogs</a>
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
    <% } %>
    </div>
    </div>
  </nav>